.navbar {
  display: flex;
  margin-bottom: 0px !important;
  background: linear-gradient(#f0131e, #610d0f);
  font-weight: 300;
  justify-content: center;
  height: 100px;
  align-items: center;
  position: relative !important;
}

.navbar-logo {
  display: flex;
  justify-self: start;
  size-adjust: 80%;
  margin-left: 0px;
  cursor: pointer;
}
.nav-links-mobile {
  display: none;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  justify-content: space-between;
  padding-top: 60px;

}
.nav-links {
  color: rgb(177, 174, 174);
  padding: 0;
  text-decoration: none;
  font-weight: 300;
  text-shadow: -3px 3px 5px rgb(110, 6, 6);
  text-transform: uppercase;
  font-size: 30px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.nav-links:hover {
  color: rgb(146, 141, 141);
}
.nav-links::before {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: rgb(124, 123, 123);
  margin: 2px;
  transition: all ease-in-out 250ms;
}
.nav-links::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: rgb(119, 117, 117);
  margin: 2px;
  transition: all ease-in-out 250ms;
}
.nav-links:hover::before {
  width: 100%;
}
.nav-links:hover::after {
  width: 100%;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
   
    position: absolute;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
   
  }

  .nav-menu.active {
    background: #242222;
    position: fixed;
    left: 0;

    opacity: 0.7;
    transition: all 0.5s ease;
    z-index: 1;
    margin-top: 600px;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #831517ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #831517ff;
    text-decoration: none;
    color: rgb(124, 121, 121);
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: rgb(145, 142, 142);
    color: #831517ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}
