* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: 'Marvel';
  
}
body{
  background-image: url('./images/avengers.jpg')  ;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}



